<a href="https://colab.research.google.com/github/Pavi99sandamini151/Machine_learning/blob/main/crossvalidation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = pd.read_csv("sample_data/Iris.csv")
data = data.drop("Id" , axis = 1)

In [2]:
x =data.drop("Species" , axis = 1)
x.head(5)
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
y = data["Species"]
y.head(5)

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [4]:
from sklearn.model_selection import cross_val_score

In [5]:
#K-nearest algorithm
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
cross_val_score(knn , x,y,cv=5).mean()

0.9733333333333334

In [6]:
#Random forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
cross_val_score(rf,x,y,cv = 5).mean()

0.9666666666666668

In [7]:
#naive bayes
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
cross_val_score(nb,x,y,cv=5).mean()

0.9533333333333334

In [8]:
#support vector machine
from sklearn.svm import SVC
svm = SVC()
cross_val_score(svm , x,y,cv=5).mean()

0.9666666666666666