<a href="https://colab.research.google.com/github/Pavi99sandamini151/Machine_learning/blob/main/decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("sample_data/kyphosis.csv")
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [3]:
data.shape

(81, 4)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [5]:
x = data.drop('Kyphosis' , axis = 1)

In [6]:
x.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [7]:
y = data['Kyphosis']
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

In [8]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.3)

In [9]:
x_train.shape

(56, 3)

In [10]:
x_test.shape

(25, 3)

In [11]:
#dicision tree
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train , y_train)

DecisionTreeClassifier()

In [16]:
pred = model.predict(x_test)
pred

array(['absent', 'absent', 'absent', 'absent', 'present', 'absent',
       'present', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent', 'absent', 'present', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'present', 'absent', 'absent',
       'absent'], dtype=object)

In [17]:
y_test

45    present
73     absent
35     absent
27     absent
52    present
15     absent
39    present
46     absent
72     absent
51     absent
47     absent
1      absent
4      absent
66     absent
42     absent
11     absent
80     absent
32     absent
19     absent
67     absent
44     absent
21    present
14     absent
20     absent
28     absent
Name: Kyphosis, dtype: object

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test , pred)

0.92

In [19]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test , pred)

array([[20,  1],
       [ 1,  3]])