<a href="https://colab.research.google.com/github/Pavi99sandamini151/Machine_learning/blob/main/Hyperparameter_optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('sample_data/Iris.csv')

In [3]:
data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
58,59,6.6,2.9,4.6,1.3,Iris-versicolor
25,26,5.0,3.0,1.6,0.2,Iris-setosa
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
143,144,6.8,3.2,5.9,2.3,Iris-virginica
85,86,6.0,3.4,4.5,1.6,Iris-versicolor

In [5]:
x = data.drop(['Species' , 'Id'] , axis=1)
y = data['Species']

In [6]:
x.sample(5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
116            6.5           3.0            5.5           1.8
70             5.9           3.2            4.8           1.8
28             5.2           3.4            1.4           0.2
91             6.1           3.0            4.6           1.4
139            6.9           3.1            5.4           2.1

In [7]:
y.sample(5)

117     Iris-virginica
63     Iris-versicolor
140     Iris-virginica
103     Iris-virginica
123     Iris-virginica
Name: Species, dtype: object

In [8]:
from sklearn.model_selection import train_test_split
x_train ,x_test , y_train ,y_test = train_test_split(x,y,test_size=0.3)

In [13]:
from sklearn.svm import SVC
model = SVC(kernel = 'poly' , C=10)
model.fit(x_train , y_train)

SVC(C=10, kernel='poly')

In [14]:
model.score(x_test , y_test)

0.9555555555555556

In [15]:
from sklearn.model_selection import GridSearchCV

In [16]:
param_grid = {'C' :[0.1,1,10] , 'kernel':['rbf' , 'linear','poly']}

In [18]:
grid_search = GridSearchCV(estimator= model, param_grid=param_grid)
grid_search.fit(x_train , y_train)

GridSearchCV(estimator=SVC(C=10, kernel='poly'),
             param_grid={'C': [0.1, 1, 10],
                         'kernel': ['rbf', 'linear', 'poly']})

In [19]:
grid_search.best_params_

{'C': 10, 'kernel': 'poly'}

In [20]:
grid_search.score(x_test , y_test)

0.9555555555555556

In [21]:
#randomizedsearch
from sklearn.model_selection import RandomizedSearchCV

In [23]:
param_dist = {'C' :[0.1,1,10] , 'kernel':['rbf' , 'linear','poly']}

In [24]:
randomized_search = RandomizedSearchCV(estimator=model , param_distributions=param_dist , n_iter = 5)
randomized_search.fit(x_train , y_train)

RandomizedSearchCV(estimator=SVC(C=10, kernel='poly'), n_iter=5,
                   param_distributions={'C': [0.1, 1, 10],
                                        'kernel': ['rbf', 'linear', 'poly']})

In [25]:
randomized_search.best_params_

{'C': 10, 'kernel': 'poly'}

In [26]:
randomized_search.score(x_test , y_test)

0.9555555555555556