<a href="https://colab.research.google.com/github/Pavi99sandamini151/Linear_Regression/blob/main/multiple_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv("sample_data/Book2.csv")

In [3]:
data

  Unnamed: 0  videos  days  subscribers  views
0  channel 1      30   150         1800  34000
1  channel 2      40   212         1950  41000
2  channel 3      50   179         2100  42500
3  channel 4      60   346         4300  54300
4  channel 5      70   280         4200  56000

In [4]:
model = LinearRegression()
model.fit(data[['videos', 'days' , 'subscribers']] , data.views)

LinearRegression()

In [5]:
model.predict([[45 , 180 , 3100]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([41483.5043287])

In [6]:
model.coef_

array([3.81732131e+02, 4.21209097e+01, 3.54006782e-01])

In [7]:
model.intercept_

15626.373669488308

In [9]:
y_new = model.coef_[0]*45 + model.coef_[1]*180 + model.coef_[2]*3100 + model.intercept_

In [10]:
y_new

41483.504328703